#content-container {
  background-color: #fff;
  padding: 30px;
  box-shadow: 5px 10px 8px #888888;
  overflow: hidden;
  margin-top: 75px;
}
h2 {
  padding: 10px 0 10px 0;
  color: #00cdcd;
  font-family: "Alegreya", serif;
  font-size: 25pt;
}
h3 {
  padding: 20px 0 20px 0;
  font-family: "Alegreya", serif;
  font-size: 14pt;
}
html,body {
  background-color:#333;
}
.line-decoration {
  height: 5px;
  background-color: #00cdcd;
}
main {
  background-color: #f00;
  background-color: #f1f1f1;
  padding: 50px;
}
table {
  overflow:auto;
  height: 530px;
}